/*(0,0,1) */
body {
    margin-left: 20%;
    margin-right: 20%;
    line-height: 1.4;
    font-size: 1.5em;
    color: #454545;
    background-color: whitesmoke;
}

/*(0,0,1)*/
h1, h2, h3, h4, h5, h6 {
    line-height: 1.2;
}

h3, h4, h5, h6 {
    font-size: 1.55em;
}

/*(0,0,1)*/
img {
    /*max-width: 100%;*/
    /*height: auto;*/
    /*margin-top: 1em;*/
    /*margin-bottom: 2em;*/
}

/*(0,0,1)*/
footer {
    text-align: center;
    margin-top: 1em;
}
/*(0,0,2)*/
footer img {
    margin: 0.5em;
}

/*(0,0,1)*/
a {
    color: #07a;
    background-color: inherit;
}

/*(0,0,1)*/
table {
    border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

/*(0,0,1)*/
td, th {
  text-align: left;
  padding: 8px;
}

/*(0,0,1)*/
th {
    border-bottom: 0.15em solid #454545
}
/*(0,1,2)*/
tr:nth-child(even) {
  background-color: #dddddd;
  color: inherit;
}

/*(0,0,1)*/
div.embed-responsive {
    margin-bottom: 1em;
}

nav.navbar-default ul.navbar-nav li a.selected {
	background-color: #07a;
	color: white;
}

nav.navbar-default ul.navbar-nav li a{
    color: black;
}

nav a:hover{
	background-color: #07a;
	color: white;
}

header a.go-to-main {
    position: absolute;
    left: -1000em;
    top: auto;
    width: 0.1em;
    height: 0.1em;
    overflow: hidden;}

a.go-to-main:focus,  a.go-to-main:active{
    height: auto;
    position: static;
    width: auto;
}

caption {
    color: black;
}
